@import '../../../../theme/buttons.scss';

.logistic-stage-header {
  align-items: baseline;
  display: flex;
  padding-bottom: calc(var(--spacer) * 4);
}

.no-cart {
  padding: 1rem;
  text-align: center;

  ion-icon {
    font-size: 4.5rem;
  }
}

.map-indications {
  text-align: center;
}

.logistic-stage-actions {
  display: flex;

  .btn-scan {
    @extend .btn-block;
    flex-grow: 2;
  }

  .btn-complete {
    @extend .btn-block;
    flex-grow: 1;
  }
}
